
body 
{ 
   margin-right: 0px;
   margin-left: 0px;
   padding: 0px; 
   background-color:rgb(6, 2, 72);
}

#nav 
{
   background-color: rgb(6, 2, 72);
   font-size: 11px; 
   padding: 10px; 
   text-transform: uppercase; 
   font-family: sans-serif; 
   color:rgb(83, 117, 54); 
   display: flex; 
   justify-content: space-evenly; 
   text-align: center; 
}

a { 
   color: rgb(255, 255, 255); 
   text-decoration: none; 
}
.colorNavyBlue {
   color: rgb(6, 2, 72);
}

#title {
   height:700px;
  background-image: url("images/background.png");
   background-size: cover; 
   display: flex; 
   text-align: center;
   align-items: center; 
   padding: 0px;
   line-height: 0px;
}
.column {
   flex-direction: column;
}

h1{ 
   padding: 40px;
   display: flex;
   align-items: center;
   text-align: center ;
   justify-content: space-between;
   font-size: 120px; 
   font-weight: bold; 
   font-family: impact; 
   text-transform: uppercase;
color: white; 
margin-top: 0px;

}

#aboutUs { 
   padding: 40px;
   height: 570px; 
   background-color:#66acc5; 
   background-size: cover; 
   justify-content: space-between; 
   color: rgb(255, 255, 255);  
   font-family: sans-serif; 
   text-align: center; 
   align-items: center;
   margin-right: 0px;
   text-decoration: none;
}
.underline {
   color: white;
   font-size: 40px;
   font-family: sans-serif;
   text-transform: uppercase;
   padding: 0px;
}
.paragraph { 
   width: 500px;
   height:400px;
   display: inline-block;
   text-align: center;
   align-items: center;
   font-size: 20px; 
   color:rgb(6, 2, 72);
   text-transform: uppercase;


}
h4{ 
   align-items: center; 
   text-transform: uppercase;
   font-family: impact; 
   font-size: 40px; 
   color: rgb(102, 172, 197); 
}
p{
   color: white
}
.link { 
   font-size: 10px;
   text-transform: uppercase;
   font-family: sans-serif;
   text-align: center ;
   color: white; 
}

.video { 
   border-style: none;
   border-radius: 29px
}

#randMusicInFilm { 
   height: 950px; 
   background-color: #000000; 
   background-size: cover;
   align-items: center; 
  padding: 40px; 

}

.size { 
   
   width: 490px; 
   height: 320px; 

}

.sizeEdit { 
   width: 340px; 
   height: 380px; 
}

.sizetwo {
   width: 200px; 
   height: 200px; 
}

#randTrailer { 
   background-color: black; 
   height: 2200px;
   align-items: center; 
   padding: 40px; 
   margin-right: 0px; 
   

}

#h4-two { 
display: flex; 
align-items: flex-start;
}

.flex { 
   display: flex ; 
   justify-content: space-evenly
}



#h4-four { 
   display: flex; 
   align-items: flex-end; 

}

#randMovieEdit { 
   align-items: center;
   height: 650px; 
   background-color: rgb(6, 2, 72); 
   padding: 40px;
   margin-right: 0px; 
}

button { 
   color: white; 
   padding: 8px; 
   border-radius: 8%;
   font-family: sans-serif; 
   font-size: 10px; 
   border: none; 
   background-color: rgb(102, 172, 197); 
   text-transform: uppercase ;
   font-weight: bold;
   height: 30px; 
}

.center { 
   display: flex; 
   justify-content: center ;
}
.middle { 
   display: flex ; 
   justify-content: space-evenly; 
   align-items: center; 
}
#homepagevideo { 
   height: 300px; 
   width: 500px; 
}

.items:hover { 
   background-color: #060248 ; 
   opacity: 0.5;
}
.itemstwo:hover { 
   background-color: rgb(255, 255, 255); 
   opacity: 0.5; 
}

footer { 
   font-size: 20px; 
}

h5 { 
   color: white; 
   font-size: 20px; 
   font-family: sans-serif; 
}

#upcomingFilms { 
   background-color: rgb(6, 2, 72); 
   padding: 40px; 
   height: 1900px; 
}

.squaresize { 
   height: 350px; 
   width: 350px; 
   border: 29px;
}

#freeOnYoutube { 
   background-color: black;
padding: 40px;  
   height: 1100px; 
   margin-right: 20px; 
   align-items: center; 
   margin-right: 0px; 
}

.username { 
   font-size: 14px; ;
   font-family: sans-serif;
   color: whitesmoke;
   text-transform: uppercase;
   
}
.imagesize {
   width: 200px;
   height: 270px;
}


@media (max-width: 1030px) { 
   h1{
       font-size: 120px;
   }
   .paragraph {
       font-size: 14px; 
       width: 320px;
   }
   .sizeone{
       width: 340px;
       height: 190px;
   }
   .size { 
       width: 340px; 
       height: 220px; 
   }
   p{ 
       font-size: 120%; 
   }
   .flex { 
       flex-direction: column; 
       align-items: center; 

   }
   .card {
       width: 50%; 
   }
   #aboutUs{ 
       height:670px; 
   }
  #randMovieEdit{ 
   height: 1450px; 

  }
  #randTrailer { 
   height: 3300px; 
}
#randMusicInFilm { 
   height: 1290px; 
}
#upcomingFilms {
   height: 3500px;
}
.imagesize {
   width: 200px;
   height: 270px;
}
#freeOnYoutube {
   height: 3800px;
}
}

  @media (max-width: 530px) {
   h1{
       font-size: 100px; 
   }
   .underline{
      font-size: 20px;
   }
   p{
       font-size: 14px; 
   }
 
   .card{ 
       width: 80%; 
   }
   #nav { 
       font-size: 11px;
   }
}

@media (max-width: 400px) {
   h1 {
      font-size: 79px;
   }
   .underline {
      font-size: 10
   }
}

