
body { 
    margin: 0px; 
    padding: 0px; 
    background-color:rgb(6, 2, 72);
    overflow: 0;
}

#nav {
    font-size: 20px; 
    padding: 10px; 
    text-transform: uppercase; 
    font-family: sans-serif; 
    color: white; 
    display: flex; 
    justify-content: space-between; 
    text-align: center; 
    

}

#logo{ 
    font-weight: bolder ; 
    font-size: 35px; 
    color: whitesmoke; 
margin-left: 20px; 

}
#options{ 
    display:flex; 
    margin-right: 20px;
}
a { 
    color: white ; 
    text-decoration: none; 
}
.items { 
padding: 10px; 
}

#title { 
    width: 100%; 
    height:700px;
   background-image: url("images/background.png");
    background-size: cover; 
    display: flex; 
    align-items: center; 
    padding: 40px; 
}

h1{ 
    margin-left: 40px; 
    font-size: 120px; 
    font-weight: bold; 
    font-family: impact; 
    text-transform: uppercase;
 color: white; 

}

#aboutUs { 
    width: max(100%);
    height: 700px; 
    background-color: black; 
    background-size: cover; 
    display: inline-block; 
    justify-content: space-between; 
    color: white;  
    font-family: sans-serif; 
    text-align: center; 
    align-items: center; 
    margin-right: 20px; 
    padding: 40px; 
    text-decoration: none;
}
h4{ 
    align-items: center; 
    text-transform: uppercase;
    font-family: impact; 
    font-size: 40px; 
    color: rgb(102, 172, 197); 
}

p { 
    font-size:20px; 
    margin-right: 90px; 
    margin-left: 90px; 
}

.video { 
    border-style: none;
    border-radius: 29px
}

#randMusicInFilm { 
    width: max(100%) ; 
    height: 580px; 
    background-color: #060248; 
    background-size: cover;
    align-items: center; 
   padding: 40px; 

}

.size { 
    width: 500px; 
    height: 300px; 

}

#randTrailer { 
    background-color: black; 
    width: max(100%); 
    height: 598px; 
    align-items: center; 
    padding: 40px; 
    

}

#h4-two { 
 display: flex; 
 align-items: flex-start
}

.flex { 
    display: flex ; 
    justify-content: space-evenly
}

#h4-four { 
    display: flex; 
    align-items: flex-end; 

}

#quote{ 
    width: max(100%); 
    /* height: 480px; */
    color: white; 
    background-color: rgb(6, 2, 72);
    text-transform: uppercase;
    font-family:  haettenschweiler ; 
    font-size: 20px; 
}

#randMovieEdit { 
    align-items: center; 
    width: max(100%); 
    height: 580px; 
    background-color: rgb(6, 2, 72); 
    padding: 40px; 
}

button { 
    color: white; 
    padding: 8px; 
    border-radius: 8%;
    font-family: sans-serif; 
    font-size: 10px; 
    background-color: rgb(102, 172, 197); 
    border: none;
    text-transform: uppercase ;
    font-weight: bold;
    height: 25px; 

}

.center { 
    display: flex; 
    justify-content: center ;
}
.middle { 
    display: flex ; 
    justify-content: space-evenly; 
    align-items: center; 
}
#homepagevideo { 
    height: 300px; 
    width: 500px; 
}

.items:hover { 
    background-color: rgb(6, 2, 72) ; 
    opacity: 0.5;
}

footer { 
    font-size: 20px; 
}

h5 { 
    color: white; 
    font-size: 20px; 
    font-family: sans-serif; 
}

@media (width=430px) {
    
    #randTrailer { 
        height: 900px; 
    }
    #randMusicInFilm { 
        height: 900px; 
    }
    #aboutUs { 
        height: 900px; 
    }
    #nav{ 
        font-size: 20px; 
    }
    .flex { 
        display: flex; 
        flex-direction: column;
    }
    .paragraph { 
        font-size: 20px; 
    }
    .video { 
        width: 400px; 
        height: 250px; 
    }
#logo { 
    font-size: 30px; 
}
#homepagevideo { 
    width: 400px;
    height: 200px;
}
}

@media (width=414px){ 
    #randTrailer { 
        height: 900px; 
    }
    #randMusicInFilm { 
        height: 900px; 
    }
    #aboutUs { 
        height: 1000px; 
    }
    #nav { 
        font-size: 20px; 
    }
    .flex{ 
        display: flex; 
        flex-direction: column; 
    }
    .paragraph { 
        font-size: 20px; 
    }

    .video { 
        width: 400px; 
        height: 250px; 
    }
    #logo { 
        font-size: 30px; 
    }
    #homepagevideo { 
        width: 400px;
        height: 250px;
    }
}

@media (width=375px){ 
    #randTrailer { 
        height: 900px; 
    }
    #randMusicInFilm { 
        height: 900px; 
    }
    #aboutUs { 
        height: 1100px; 
    }
    #nav { 
        font-size: 20px; 
    }
    .flex{ 
        display: flex; 
        flex-direction: column; 
    }
    .paragraph { 
        font-size: 20px; 
    }

    .video { 
        width: 400px; 
        height: 250px; 
    }
    #logo { 
        font-size: 20px; 
    }
    #homepagevideo { 
        width: 320px;
        height: 150px;
    }

}

@media (width=390px){ 
    #randTrailer { 
        height: 900px; 
    }
    #randMusicInFilm { 
        height: 900px; 
    }
    #aboutUs { 
        height: 1100px; 
    }
    #nav { 
        font-size: 20px; 
    }
    .flex{ 
        display: flex; 
        flex-direction: column; 
    }
    .paragraph { 
        font-size: 20px; 
    }

    .video { 
        width: 400px; 
        height: 250px; 
    }
    #logo { 
        font-size: 30px; 
    }
    #homepagevideo { 
        width: 370px;
        height: 200px;
    }

}

@media (width=828px){ 
    #randTrailer { 
        height: 900px; 
    }
    #randMusicInFilm { 
        height: 900px; 
    }
    #aboutUs { 
        height: 700px; 
    }
    #nav { 
        font-size: 20px; 
    }
    .flex{ 
        display: flex; 
        flex-direction: column; 
    }
    .paragraph { 
        font-size: 20px; 
    }

    .video { 
        width: 400px; 
        height: 250px; 
    }
    #logo { 
        font-size: 30px; 
    }

}
@media (width=320px){ 
    #randTrailer { 
        height: 700px; 
    }
    #randMusicInFilm { 
        height: 700px; 
    }
    #aboutUs { 
        height: 700px; 
    }
    #nav { 
        font-size: 11.9px; 
    }
    .flex{ 
        display: flex; 
        flex-direction: column; 
    }
    .paragraph { 
        font-size: 11.9px; 
    }

    .video { 
        width: 300px; 
        height: 150px; 
    }
    #logo { 
        font-size: 20px; 
    }
   #homepagevideo { 
    width: 300px; 
    height: 150px; 
   }
   h1 { 
    font-size: 100px; 
   }
}
